In [1]:
x=[10,20,30,40,50]
print(x)

[10, 20, 30, 40, 50]

In [2]:
print(x[0])
print(x[1])
print(x[2])
print(x[3])
print(x[4])

10
20
30
40
50

In [21]:
for i in x:
    print(i)

10
20
30
40
50

In [26]:
x=[10,True,"hello",20.45]
print(type(x[3]))

<class 'float'>

In [27]:
for i in x:
    print(type(i))

<class 'int'>
<class 'bool'>
<class 'str'>
<class 'float'>

In [28]:
s='welcome'
for x in s:
    print(x)

w
e
l
c
o
m
e

In [33]:
for x in [10,20,30,40,50,60]:
    print(x)

10
20
30
40
50
60

In [34]:
for i in (20.45,"hello",True,False,1234):
    print(i,type(i))

20.45 <class 'float'>
hello <class 'str'>
True <class 'bool'>
False <class 'bool'>
1234 <class 'int'>

In [38]:
s={20,30,40,10,20,30,40,50,60}
print(s,type(s))

{50, 20, 40, 10, 60, 30} <class 'set'>

In [37]:
for i in s:
    print(i)

50
20
40
10
60
30

In [42]:
x=[8,12,45,23,10,40,52,90,76,44,10,4,15,20]
t=0
for i in x:
    t+=i
print(t)

449

In [43]:
d ={"name":"vamsi","gender":'male',"city":"hyderabad"}
type(d)

dict

In [46]:
d.keys(),d.values(),d.items()

(dict_keys(['name', 'gender', 'city']),
 dict_values(['vamsi', 'male', 'hyderabad']),
 dict_items([('name', 'vamsi'), ('gender', 'male'), ('city', 'hyderabad')]))

In [47]:
for i in d.keys():
    print(i)

name
gender
city

In [48]:
for j in d.values():
    print(j)

vamsi
male
hyderabad

In [54]:
i,j=10,20
print(j)

20

In [58]:
for k,v in d.items():
    print(k,v)

name vamsi
gender male
city hyderabad

In [66]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [67]:
i=1
while i<=10:
    print(i)
    i+=2

1
3
5
7
9