In [1]:
import numpy as np 
import pandas as pd

In [5]:
marks = np.array([[86,80,92,90,85],
                  [93,95,90,85,89],
                  [88,92,84,87,82]])
marks

array([[86, 80, 92, 90, 85],
       [93, 95, 90, 85, 89],
       [88, 92, 84, 87, 82]])

In [10]:
marks_df = pd.DataFrame(marks,
                        columns=['English','Hindi','Maths','physics','chemistry'],
                        index=['vamsi','deppa','likith'])
type(marks_df)

pandas.core.frame.DataFrame

In [11]:
marks_df

        English  Hindi  Maths  physics  chemistry
vamsi        86     80     92       90         85
deppa        93     95     90       85         89
likith       88     92     84       87         82

In [12]:
marks_df.shape

(3, 5)

In [15]:
marks = {"maths":[92,90,84],"physics":[90,85,87],"chemistry":[85,89,82]}
marks

{'maths': [92, 90, 84], 'physics': [90, 85, 87], 'chemistry': [85, 89, 82]}

In [17]:
marks_df1 = pd.DataFrame(marks,index=['vamsi','deepa','likith'])
marks_df1

        maths  physics  chemistry
vamsi      92       90         85
deepa      90       85         89
likith     84       87         82